<!DOCTYPE html>
<html>
<head>
    <title>Sales Predictor</title>
</head>
<body>
    <h2>Nhập dữ liệu để dự đoán sales</h2>
    <form method="POST">
        Date: <input type="text" name="date"><br><br>
        Store Number: <input type="number" name="store_nbr"><br><br>
        Family: <input type="text" name="family"><br><br>
        On Promotion (0 or 1): <input type="number" name="onpromotion"><br><br>
        City: <input type="text" name="city"><br><br>
        State: <input type="text" name="state"><br><br>
        Type: <input type="text" name="type_x"><br><br>
        Cluster: <input type="number" name="cluster"><br><br>
        Transaction: <input type="number" name="transaction"><br><br>
        <input type="submit" value="Dự đoán Sales">
    </form>

    {% if sales is not none %}
        <h3>Sales dự đoán: {{ sales }}</h3>
    {% endif %}
</body>
</html>
